@import "tailwindcss";
@import "./typography.css";
@import "./animations.css";
:root {
    --color-primary: #fde6ea;
    --color-secondary: #ea8d8c;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    @apply bg-zinc-950;
}

/* El "thumb" */
::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    @apply rounded-2xl;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-secondary);
}

html,
body {
    @apply bg-[var(--color-primary)];
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

.date-number {
    font-family: "Akrobat";
}
